<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FilesWriter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smarth2o.apphb.com/FilesWriterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FilesWriter"
                contract="FilesWriterService.FilesWriter" name="BasicHttpBinding_FilesWriter" />
        </client>
    </system.serviceModel>
</configuration>