<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SmartH20Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smarth2o.apphb.com/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SmartH20Service"
                contract="StatsService.SmartH20Service" name="BasicHttpBinding_SmartH20Service" />
        </client>
    </system.serviceModel>
</configuration>